<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <test verbose="2" preserve-order="true" name="D:/MavenCuc">
      <classes>
            <class name="webDriverFrameFunction.WebDriverFrameFunctionRunner"/>
            <class name="alertFunction.AlertFunctionRunner"/>
            <class name="browserFunction.BrowserFunctionRunner"/>
            <class name="webElementFunction.WebElementFunctionRunner"/>
            <class name="pageClasses.BugCreationRunner"/>
        </classes>
    </test>
</suite>

